<!DOCTYPE html>
<html lang="en" ng-app>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section>
        <div class="container">
          <div class="col l12 mf320MfPageDivSections">
            <div id="holdings101Container" itemscope="" itemtype="http://schema.org/Table">
              <h2 class="mf320Heading componentsMainHeading fs20">Holdings (118)</h2>
              <div class="col l12">
                <div class="holdings101TableContainer">
                  <table class="tb10Table holdings101Table" style="border: none;">
                    <thead class="">
                      <tr class="holdings101ExcludeTopRadius">
                        <th class="fw500 fs14 clrSubText holdings101header"
                          style="padding-left: 3%; padding-top: 16px; padding-bottom: 16px; text-align: left; width: 45%;">
                          Name</th>
                        <th class="fw500 fs14 clrSubText holdings101header"
                          style="padding-top: 16px; padding-bottom: 16px; text-align: left; width: 25%;">Sector</th>
                        <th class="fw500 fs14 clrSubText holdings101header"
                          style="padding-top: 16px; padding-bottom: 16px; text-align: left; width: 20%;">Instrument</th>
                        <th class="fw500 fs14 clrSubText holdings101header"
                          style="padding-right: 3%; padding-top: 16px; padding-bottom: 16px; text-align: right; width: 16%;">
                          Assets</th>
                      </tr>
                    </thead>
                    <tbody class="">
                      <tr class="holdings101Row">
                        <td colspan="1" rowspan="1" class="fs14 holdings101CompanyName"
                          style="padding-left: 3%; padding-top: 16px; padding-bottom: 16px;"><a
                            class="pc543Links clrText cur-po" href="/stocks/goi-351">GOI</a></td>
                        <td colspan="1" rowspan="1" class="fs14" style="padding-top: 16px; padding-bottom: 16px;">Sovereign
                        </td>
                        <td colspan="1" rowspan="1" class="fs14" style="padding-top: 16px; padding-bottom: 16px;">GOI Sec</td>
                        <td colspan="1" rowspan="1" class="fs14"
                          style="padding-right: 3%; padding-top: 16px; padding-bottom: 16px; text-align: right;">5.3%</td>
                      </tr>
                      <tr class="holdings101Row">
                        <td colspan="1" rowspan="1" class="fs14 holdings101CompanyName"
                          style="padding-left: 3%; padding-top: 16px; padding-bottom: 16px;"><a
                            class="pc543Links clrText cur-po" href="/stocks/hdfc-bank-ltd">HDFC Bank Ltd.</a></td>
                        <td colspan="1" rowspan="1" class="fs14" style="padding-top: 16px; padding-bottom: 16px;">Financial
                        </td>
                        <td colspan="1" rowspan="1" class="fs14" style="padding-top: 16px; padding-bottom: 16px;">Equity</td>
                        <td colspan="1" rowspan="1" class="fs14"
                          style="padding-right: 3%; padding-top: 16px; padding-bottom: 16px; text-align: right;">4.8%</td>
                      </tr>
                      <tr class="holdings101Row">
                        <td colspan="1" rowspan="1" class="fs14 holdings101CompanyName"
                          style="padding-left: 3%; padding-top: 16px; padding-bottom: 16px;"><a
                            class="pc543Links clrText cur-po" href="/stocks/icici-bank-ltd">ICICI Bank Ltd.</a></td>
                        <td colspan="1" rowspan="1" class="fs14" style="padding-top: 16px; padding-bottom: 16px;">Financial
                        </td>
                        <td colspan="1" rowspan="1" class="fs14" style="padding-top: 16px; padding-bottom: 16px;">Equity</td>
                        <td colspan="1" rowspan="1" class="fs14"
                          style="padding-right: 3%; padding-top: 16px; padding-bottom: 16px; text-align: right;">4.5%</td>
                      </tr>
                      <tr class="holdings101Row">
                        <td colspan="1" rowspan="1" class="fs14 holdings101CompanyName"
                          style="padding-left: 3%; padding-top: 16px; padding-bottom: 16px;"><a
                            class="pc543Links clrText cur-po" href="/stocks/state-bank-of-india">State Bank of India</a></td>
                        <td colspan="1" rowspan="1" class="fs14" style="padding-top: 16px; padding-bottom: 16px;">Financial
                        </td>
                        <td colspan="1" rowspan="1" class="fs14" style="padding-top: 16px; padding-bottom: 16px;">Equity</td>
                        <td colspan="1" rowspan="1" class="fs14"
                          style="padding-right: 3%; padding-top: 16px; padding-bottom: 16px; text-align: right;">4.2%</td>
                      </tr>
                      <tr class="holdings101Row">
                        <td colspan="1" rowspan="1" class="fs14 holdings101CompanyName"
                          style="padding-left: 3%; padding-top: 16px; padding-bottom: 16px;"><a
                            class="pc543Links clrText cur-po" href="/stocks/coal-india-ltd">Coal India Ltd.</a></td>
                        <td colspan="1" rowspan="1" class="fs14" style="padding-top: 16px; padding-bottom: 16px;">Energy</td>
                        <td colspan="1" rowspan="1" class="fs14" style="padding-top: 16px; padding-bottom: 16px;">Equity</td>
                        <td colspan="1" rowspan="1" class="fs14"
                          style="padding-right: 3%; padding-top: 16px; padding-bottom: 16px; text-align: right;">4.0%</td>
                      </tr>
                      <tr class="holdings101Row">
                        <td colspan="1" rowspan="1" class="fs14 holdings101CompanyName"
                          style="padding-left: 3%; padding-top: 16px; padding-bottom: 16px;"><a
                            class="pc543Links clrText cur-po" href="/stocks/ntpc-ltd">NTPC Ltd.</a></td>
                        <td colspan="1" rowspan="1" class="fs14" style="padding-top: 16px; padding-bottom: 16px;">Energy</td>
                        <td colspan="1" rowspan="1" class="fs14" style="padding-top: 16px; padding-bottom: 16px;">Equity</td>
                        <td colspan="1" rowspan="1" class="fs14"
                          style="padding-right: 3%; padding-top: 16px; padding-bottom: 16px; text-align: right;">3.5%</td>
                      </tr>
                      <tr class="holdings101Row">
                        <td colspan="1" rowspan="1" class="fs14 holdings101CompanyName"
                          style="padding-left: 3%; padding-top: 16px; padding-bottom: 16px;"><a
                            class="pc543Links clrText cur-po" href="/stocks/itc-ltd">ITC Ltd.</a></td>
                        <td colspan="1" rowspan="1" class="fs14" style="padding-top: 16px; padding-bottom: 16px;">Consumer
                          Staples</td>
                        <td colspan="1" rowspan="1" class="fs14" style="padding-top: 16px; padding-bottom: 16px;">Equity</td>
                        <td colspan="1" rowspan="1" class="fs14"
                          style="padding-right: 3%; padding-top: 16px; padding-bottom: 16px; text-align: right;">3.4%</td>
                      </tr>
                      <tr class="holdings101Row">
                        <td colspan="1" rowspan="1" class="fs14 holdings101CompanyName"
                          style="padding-left: 3%; padding-top: 16px; padding-bottom: 16px;"><a
                            class="pc543Links clrText cur-po" href="/stocks/infosys-ltd">Infosys Ltd.</a></td>
                        <td colspan="1" rowspan="1" class="fs14" style="padding-top: 16px; padding-bottom: 16px;">Technology
                        </td>
                        <td colspan="1" rowspan="1" class="fs14" style="padding-top: 16px; padding-bottom: 16px;">Equity</td>
                        <td colspan="1" rowspan="1" class="fs14"
                          style="padding-right: 3%; padding-top: 16px; padding-bottom: 16px; text-align: right;">3.1%</td>
                      </tr>
                      <tr class="holdings101Row">
                        <td colspan="1" rowspan="1" class="fs14 holdings101CompanyName"
                          style="padding-left: 3%; padding-top: 16px; padding-bottom: 16px;"><a
                            class="pc543Links clrText cur-po" href="/stocks/goi-285">GOI</a></td>
                        <td colspan="1" rowspan="1" class="fs14" style="padding-top: 16px; padding-bottom: 16px;">Sovereign
                        </td>
                        <td colspan="1" rowspan="1" class="fs14" style="padding-top: 16px; padding-bottom: 16px;">GOI Sec</td>
                        <td colspan="1" rowspan="1" class="fs14"
                          style="padding-right: 3%; padding-top: 16px; padding-bottom: 16px; text-align: right;">3.0%</td>
                      </tr>
                      <tr class="holdings101Row">
                        <td colspan="1" rowspan="1" class="fs14 holdings101CompanyName"
                          style="padding-left: 3%; padding-top: 16px; padding-bottom: 16px;"><a
                            class="pc543Links clrText cur-po"
                            href="/stocks/housing-development-finance-corporation-ltd">Housing Development Finance Corporation
                            Ltd.</a></td>
                        <td colspan="1" rowspan="1" class="fs14" style="padding-top: 16px; padding-bottom: 16px;">Financial
                        </td>
                        <td colspan="1" rowspan="1" class="fs14" style="padding-top: 16px; padding-bottom: 16px;">Equity</td>
                        <td colspan="1" rowspan="1" class="fs14"
                          style="padding-right: 3%; padding-top: 16px; padding-bottom: 16px; text-align: right;">2.9%</td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="holdings101SeeAll fw500 primaryClr">
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
      
        </div>
      </section>
</body>
</html>