@import '~@fortawesome/fontawesome-free/css/all.css';

/* .list {
    list-style: none;
}
.list li:before {
    content: ;
    display: inline-block;
    padding-inline-end: 0.75rem;
    transition: transform 200ms;
}
.list li:hover::before {
    transform: translateX(0.25rem);
}
.container-fluid{
    margin: 0%;
    padding: 0%;
}
.d-flex{
    padding-left: 10px;
}
.account{
    background-color: rgba(253, 254, 255, 0.934);
    padding-left: 10px;
    margin-right: 24px;
}
.material-icons{
    background-color: #07000e;
    transform: scale(1.5);
    height: 40%;
    width: 40%;
    margin-left: 1px;
    margin-right: 12px;
} */




/* another css for designing */


body {
    font-family: 'Arial', sans-serif;
    margin: 0px;
    padding: 0px;
    }

    .navbar {
    background-color: #343a40;
    }

    .navbar-brand {
    color: #fff;
    font-size: 1.5rem;
    }
    .navbar-nav .nav-link {
    color: #fff;
    margin-right: 1rem;
    }
.navbar-nav .nav-link:hover {
    color: #17a2b8;
    }
.account button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    }
.account button:hover {
    color: #17a2b8;
    }

.account .material-icons {
    color: #fff;
    font-size: 2rem;
    vertical-align: middle;
    }

.container-fluid {
    margin: 0px;
    max-width: 1200px;
    padding: 0px;
    /* margin-left: 0px;
    margin-right: 0px; */
    }

 
@media screen and (min-width: 768px) {
.navbar-expand-md .navbar-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    }

    .navbar-nav .nav-link {
     margin-right: 0;
    }
   .account {
    order: 2;
    }
}