<!DOCTYPE html>
<html lang="en" ng-app>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
  <script src="https://kit.fontawesome.com/85edb2fd4f.js" crossorigin="anonymous"></script>
</head>

<body>
  <header>
    <div class="container-fluid">
      <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">MutualFund.com</a>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" routerLink="wallet-details">Wallet Details</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="WalletManagement">Wallet management</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Invest now &nbsp;<i
                    class="fa-sharp fa-regular fa-handshake fa-beat"></i></a>
              </li>
            </ul>
          </div>
          <!-- <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          </form> -->
          <div class="account">
            <span class="material-icons">
              account_circle
            </span>
          </div>
        </div>

      </nav>
    </div>
  </header>


  <section>
    <div class="container-fluid">
      <h3>Didn't invest yet?</h3>
      <h4>It's a good day to start financially independent....</h4>
    </div>
  
  <div class="Mutualfundname">
    <!-- <table class="mufus">
      <tr>
        <th>Mutual Fund</th>
        <th>Price</th>
      </tr>
      <tbody>
        <tr>
          <div>Quant Small Cap Fund Direct Plan Growth</div>
          <div>66.2%</div>
        </tr>
        <tr>
          <div>ICICI Prudential Commodities Fund Direct   Growth</div>
          <div>55.7%</div>
        </tr>
        <tr>
          <div>Parag Parikh Flexi Cap Fund Direct Growth</div>
        </tr>
      </tbody>

      
    </table> -->


    <div class="row">
      <div class="col-sm-2">
        <div class="card">
          <div class="h-25 d-inline-block" style="width: 121px;">
            <p class="card-text">Quant Small Cap Fund Direct Plan Growth</p>
            <a href="#" class="btn-primary">66.2%</a>&nbsp;
            <a href="#" class="btn-primary">3yrs</a>
          </div>
          </div>
      </div>
      <div class="col-sm-2">
        <div class="card">
          <div class="h-25 d-inline-block" style="width: 121px;">
            <p class="card-text">ICICI Prudential Commodities Fund Direct Growth</p>
            <a href="#" class="btn-primary">12.33%</a>&nbsp;
            <a href="#" class="btn-primary">1yrs</a>
          </div>
          </div>
      </div>
      <div class="col-sm-2">
        <div class="card">
          <div class="h-25 d-inline-block" style="width: 125px;">
            <p class="card-text">Parag Parikh Flexi Cap Fund Direct Growth</p>
            <a href="#" class="btn-primary">32.0%</a>&nbsp;
            <a href="#" class="btn-primary">3yrs</a>
          </div>
          </div>
      </div>
      <div class="col-sm-2">
        <div class="card">
          <div class="h-25 d-inline-block" style="width: 125px;">
            <p class="card-text">Tata Digital India Fund Direct Growth</p>
            <a href="#" class="btn-primary">35.8%</a>&nbsp;
            <a href="#" class="btn-primary">3yrs</a>
          </div>
          </div>
      </div>
      <div class="col-sm-2">
        <div class="card">
          <div class="h-25 d-inline-block" style="width: 125px;">
            <p class="card-text">Nippon India Small Cap Fund Direct  Growth</p>
            <a href="#" class="btn-primary">20.37%</a>&nbsp;
            <a href="#" class="btn-primary">1yrs</a>
          </div>
          </div>
      </div>
      <div class="col-sm-2">
        <div class="card">
          <div class="h-25 d-inline-block" style="width: 125px;">
            <p class="card-text">HSBC Small Cap Fund Direct Growth</p>
            <a href="#" class="btn-primary">18.88%</a>&nbsp;
            <a href="#" class="btn-primary">1yrs</a>
          </div>
          </div>
      </div>
    </div>

  </div>

</section>
</body>

</html>